name: SonarCloud C# Analysis
on: [push, pull_request]

jobs:
  sonar:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      # with:
      #   fetch-depth: 0

    - name: Setup .NET 8
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 8.x

    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal

    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@v2
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      with:
        args: >
          -Dsonar.projectKey=JulienGrade_vscode
          -Dsonar.organization=juliengrade
          -Dsonar.c.file.suffixes=-
          -Dsonar.cpp.file.suffixes=-
          -Dsonar.objc.file.suffixes=-
          -Dsonar.exclusions=/node_modules/,/out/,/dist/,/build/,/*.dart,/.c,**/.cpp,/*.m,/.mm,**/.h