name: SonarCloud C# Analysis
on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [main]

jobs:
  sonar:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup .NET 8
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 8.x

    - name: Install SonarScanner
      run: dotnet tool install --global dotnet-sonarscanner --version 6.2.0

    - name: Restore
      run: dotnet restore

    - name: Begin SonarCloud
      run: |
        dotnet sonarscanner begin \
          /k:"AngelPASTORROJAS_aspnetcore" \
          /o:"angelpastorrojas" \
          /d:sonar.token="${{ secrets.SONAR_TOKEN }}" \
          /d:sonar.host.url="https://sonarcloud.io" \
          /d:sonar.cs.opencover.reportsPaths="**/coverage.opencover.xml" \
          /d:sonar.cs.vstest.reportsPaths="**/TEST-*.xml"

    - name: Build
      run: dotnet build --no-restore --configuration Release

    - name: End SonarCloud
      run: dotnet sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}"
