name: SonarCloud C# Analysis
on: [push, pull_request]

jobs:
  sonar:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      env:
        GITHUB_TOKEN: ${{ secrets.MY_TOKEN }}
      # with:
      #   fetch-depth: 0

    - name: Install .NET 10.x
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
          10.x
        dotnet-quality: preview

    - name: Setup .NET 8
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 8.x

    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@v3
      env:
        GITHUB_TOKEN: ${{ secrets.MY_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      with:
        args: >
          -Dsonar.projectKey=JulienGrade_vscode
          -Dsonar.organization=juliengrade
          -Dsonar.c.file.suffixes=-
          -Dsonar.cpp.file.suffixes=-
          -Dsonar.objc.file.suffixes=-
          -Dsonar.exclusions=/node_modules/,/out/,/dist/,/build/,/*.dart,/.c,**/.cpp,/*.m,/.mm,**/.h