name: SonarCloud C# Analysis
on: [push, pull_request]

jobs:
  sonar:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      # with:
      #   fetch-depth: 0

    - name: Setup .NET 8
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 8.x

    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
