name: SonarCloud C# Analysis
on: [push, pull_request]

jobs:
  sonar:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      env:
        GITHUB_TOKEN: ${{ secrets.MY_TOKEN }}
      # with:
      #   fetch-depth: 0

    - name: Install .NET 10.x
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
          10.x
        dotnet-quality: preview

    - name: Setup .NET 8
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 8.x

    - name: Build .NET (CRUCIAL pour C#)
      run: |
        dotnet restore
        dotnet build --no-restore --configuration Release

    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@v3
      env:
        GITHUB_TOKEN: ${{ secrets.MY_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      with:
        args: >
          -Dsonar.projectKey=AngelPASTORROJAS_aspnetcore
          -Dsonar.organization=angelpastorrojas
          -Dsonar.cs.dotnet_additional_dotnet_references=**/bin/**/*.dll,**/obj/**/*.dll
          -Dsonar.c.file.suffixes=-
          -Dsonar.cpp.file.suffixes=-
          -Dsonar.objc.file.suffixes=-
          -Dsonar.exclusions=**/*.java,**/*.dart,/node_modules/,/out/,/dist/,/build/,**/build-wrapper-dump.json
          -Dsonar.scm.disabled=true
